<h1>Zoznam osôb</h1>

<ul class="list-group" *ngIf="osoby.length > 0">
  <li
    class="klikatelny-riadok list-group-item"
    *ngFor="let o of osoby"
    [routerLink]="'/osoba/' + o.Id">

    {{o.Id}}. {{o.Priezvisko}} {{o.Meno}}

  </li>
</ul>

<div *ngIf="osoby.length == 0">
  Prosím čakajte...
</div>

<button
  class="btn btn-primary"
  routerLink="/osoba-edit">
  Pridať osobu
</button>

<!--<li style="cursor: pointer; font-weight: bold"></li>-->

<!--
<app-osoba
  *ngFor="let o of osoby"
  [osoba]="o"
></app-osoba>
-->
