<h1>{{osoba.Id === -1 ? 'Pridanie' : 'Editácia'}}
    osoby {{osoba.Meno}} {{osoba.Priezvisko}}</h1>

<form name="osobaForm">
  <div class="form-group">
    <label>Id</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="osoba.Id"
           id="id" name="id"
           readonly>
  </div>
  <div class="form-group">
    <label>Meno</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="osoba.Meno"
           id="meno" name="meno">
  </div>
  <div class="form-group">
    <label>Priezvisko</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="osoba.Priezvisko"
           id="priezvisko" name="priezvisko">
  </div>
  <button
    type="submit"
    class="btn btn-outline-primary mr-1"
    (click)="ulozOsoba()"
  >
    Ulož
  </button>
  <button
    type="button"
    class="btn btn-outline-danger"
    (click)="resetOsoba()"
  >
    Reset
  </button>
</form>

